body {
    background-color: #BEFFF7;
}

header {
    background-color: #9EDDFF;

}

h1 {
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    border-radius: 1px;
    font-size: 2.0rem; 
    padding: 50px;
    color: #ffffff;
    background: #6499E9;
    resize: none
}

h4 {
    border-radius: 1px;
    font-size: 1.0rem; 
    padding: 1em 1.0em;
    color: #ffffff;
    background: #6499E9;
    resize: none
}

input[type=text] {
    width: 60%;
    border-radius: 1px;
    padding: 1em 1em;
    margin: 8px 0;
    box-sizing: border-box;
    background: #ffffff;
    resize: none
}

input[type=button] {
    width: 20%;
    border-radius: 1px;
    padding: 1em 1em;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
    background: #ffffff;
}

select {
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    font-size: 1.0rem;
    padding: 1em 1.0em;
    background: #ffffff;
    color: black; 
}

