body {
    background-color: #ffffff;
}
h1 {
    border-radius: 5px;
    font-size: 2.0rem; 
    padding: 50px;
    color: #F0DE36;
    background: #EEEDED;
    resize: none
}

h4 {
    border-radius: 5px;
    font-size: 1.0rem; 
    padding: 1em 1.0em;
    color: #0D1282;
    background: #EEEDED;
    resize: none
}

input[type=text] {
    width: 60%;
    border-radius: 15px;
    padding: 1em 1em;
    margin: 8px 0;
    box-sizing: border-box;
    background: #ffffff;
    resize: none
}

input[type=button] {
    width: 20%;
    border-radius: 15px;
    padding: 1em 1em;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
}

select {
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    font-size: 1.0rem;
    padding: 1em 1.0em;
    background: #ffffff;
    color: black; 
}

